<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Email.SmtpHost" value="mail.starlab.cz"/>
    <add key="Email.SmtpUsername" value="info@gw.langmaster.com"/>
    <add key="Email.SmtpPassword" value="PhoozaAK47"/>
    <add key="Email.SmtpPort" value="25"/>
    <add key="Email.SmtpSsl" value="true"/>
    <add key="Email.StartTLS" value="false"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <!--
    <modules runAllManagedModulesForAllRequests="true">
      <add name="HttpModule" type="inkluze.HttpModule"/>    
    </modules>
    -->
  </system.webServer>
  <location path="index.html">
    <system.webServer>
      <httpRedirect enabled="false"/>
    </system.webServer>
  </location>
  <location path="favicon.ico">
    <system.webServer>
      <httpRedirect enabled="false"/>
    </system.webServer>
  </location>
  <location path="sitemap.xml">
    <system.webServer>
      <httpRedirect enabled="false"/>
    </system.webServer>
  </location>
</configuration>