<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Email.SmtpHost" value="mail.starlab.cz" />
    <add key="Email.SmtpUsername" value="info@gw.langmaster.com" />
    <add key="Email.SmtpPassword" value="PhoozaAK47" />
    <add key="Email.SmtpPort" value="25" />
    <add key="Email.SmtpSsl" value="true"/>
    <add key="Email.StartTLS" value="false" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <!--
    <modules runAllManagedModulesForAllRequests="true">
      <add name="HttpModule" type="inkluze.HttpModule"/>    
    </modules>
    -->
    <httpRedirect enabled="true" destination="http://inkluze.langmaster.cz/index.html" exactDestination="true" childOnly="true" httpResponseStatus="Permanent" />
  </system.webServer>
  <location path="index.html">
    <system.webServer>
      <httpRedirect enabled="false" />
    </system.webServer>
  </location>
</configuration>