//********* TOP BAR
.topbar {
    .lm-logo {
        cursor: pointer;
        display: block;
        background: url(img/lm-logo-black.png) no-repeat;
        margin-right: 20px;
    }

    .lm-logo-black-small {
        margin-top: 10px;
        width: 41px;
        height: 32px;
    }

    .lm-logo-black {
        margin-top: 5px;
        width: 192px;
        height: 41px;
    }
}

//*********** blue header a tab

.dark-header {
    background-color:darkgray;
    * {
        color: white;
        font-size:12px;
    }
    padding:10px;
    a {
        .white-link;
    }
}

.blue-header {
    background-image: linear-gradient(to right, #071018, #337ab7 15%, #122b40);
    background-repeat: no-repeat;

    * {
        color: white;
    }

    h1 {
        margin: 10px 0;
    }
    a {
        .white-link;
    }
}

.nav-tabs > li.active > a {
    background-color: #337ab7 !important;
    color: white;
}

.white-link {
    color: white;
    text-decoration:underline;
    &:hover {
        color: white;
    }
}