.topbar .lm-logo {
  cursor: pointer;
  display: block;
  background: url(img/lm-logo-black.png) no-repeat;
  margin-right: 20px;
}
.topbar .lm-logo-black-small {
  margin-top: 10px;
  width: 41px;
  height: 32px;
}
.topbar .lm-logo-black {
  margin-top: 5px;
  width: 192px;
  height: 41px;
}
.blue-header {
  background-image: linear-gradient(to right, #071018, #337ab7 15%, #122b40);
  background-repeat: no-repeat;
}
.blue-header * {
  color: white;
}
.blue-header h1 {
  margin: 10px 0;
}
.nav-tabs > li.active > a {
  background-color: #337ab7 !important;
  color: white;
}
